.pokemon-card {
    margin-left: 24%;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .pokemon-card {
        margin-left: unset;
        width: unset;
    }
}

@media only screen and (max-height: 768px) {
    .pokemon-card {
        margin-top: 5%;
    }
}

@media only screen and (min-height: 769px) {
    .pokemon-card {
        margin-top: 10%;
    }
}