@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Satisfy&display=swap');

.card {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    border-radius: 20px;
    color: white;
    font-family: 'Lobster Two', cursive;
    opacity: 0.95;
    padding: 20px;
    text-transform: capitalize;
    transition: .3s
}

.card:hover {
    box-shadow: 0 0 10px #ff8c3b,
                 0 0 50px #ff8c3b,
                 0 0 10px #ff8c3b,
                 0 0 10px #ff8c3b,
                 0 0 10px #ff8c3b;
    background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
    transform: scale(1.04);
}

.card-img {
    align-items: center;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    min-height: 100px;
}

.card-img img {
    height: 100px;
    width: 100px;
}

.card-name {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #ff8c3b,
    0 0 50px #ff3bad,
    0 0 10px #ff3bad,
    0 0 10px #ff3bad,
    0 0 10px #ff3bad;

}

.card-name:hover {
    color: #ffeb3b;
    text-shadow: 0 0 10px #ff8c3b,
    0 0 40px #ff8c3b,
    0 0 80px #ff8c3b,
    0 0 160px #ff8c3b,
    0 0 240px #ff8c3b;
}

.card-types {
    align-items: center;
    color: white;
    display: flex;
    height: 30px;
    justify-content: space-around;
}

.card-info {
    padding: 10px 10px;
}

.card-data {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card-data .title {
    font-size: 16px;
    font-weight: bold;
}