@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Satisfy&display=swap');

.navbar {
    align-items: center;
    background-color: #e84393;
    background-image: linear-gradient(to bottom, #e84393 0%, #000000 90%);
    display: flex;
    height: 60px;
    justify-content:center;
    padding: 0px 20px;
    position: sticky;
    top: 0;
}

.nav-title {
    color: #ffeb3b;
    font-size: 30px;
    font-family: 'Trocchi', serif;
    text-align: center;
    text-shadow: 0 0 10px #ff8c3b,
                 0 0 40px #ff8c3b,
                 0 0 80px #ff8c3b,
                 0 0 160px #ff8c3b,
                 0 0 240px #ff8c3b;
}