.footer {
    background-color: #e84393;
    background-image: linear-gradient(to top, #e84393 0%, #000000 90%);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0px 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
}
 
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title {
    text-align: center;
    color: #ffeb3b;
    font-size: 24px;
    font-family: 'Trocchi', serif;
    text-shadow: 0 0 10px #ff8c3b,
                 0 0 40px #ff8c3b,
                 0 0 80px #ff8c3b,
                 0 0 160px #ff8c3b,
                 0 0 240px #ff8c3b;
}

.heart-icon {
    color: tomato;
    font-size: 30px;
}