.main-container {
  position: relative;
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

.main-container::-webkit-scrollbar-track {
	border-radius: 10px;
  background-color: black;
}

.main-container::-webkit-scrollbar {
	width: 12px;
  background-color: black;
  border-radius: 10px;
  transition: .3s;
}

.main-container::-webkit-scrollbar-thumb {
	border-radius: 5px;
  background-color: #e84393;
  background-image: linear-gradient( #e84393 100%, #000000 100%);
}

.main-container::-webkit-scrollbar-thumb:hover {
  background-color: #ff8c3b;
  background-image: linear-gradient( #ff8c3b 100%, #000000 100%);
}

.main-container::-webkit-scrollbar-thumb:hover {
  background-color: #ff8c3b;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  min-height: 450px;
}

.button-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 25px;
  opacity: 50%;
}

.button-input input[type='text'] {
  width: 300px;
  height: 30px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  transition: .3s;
background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.button-input input[type='text']:hover {
  border-color: #ff8c3b;
  box-shadow: 0 0 10px #ff8c3b,
  0 0 50px #ff8c3b,
  0 0 10px #ff8c3b,
  0 0 10px #ff8c3b,
  0 0 10px #ff8c3b;
}

::placeholder {
  color: white;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn-common button{
  font-size: 18px;
  width: 150px;
  height: 40px;
  margin: 0px 10px;
  color: white;
  border: none;
  border-radius: 8px;
}

.btn-common button:hover {
  color: white;
  transition: .3s;
  font-size: 20px;
  transform: scale(0.95);
  border-radius: 12px;
}

.btn-top button {
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

.btn-top button:hover {
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.btn-bottom button {
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.btn-bottom button:hover {
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

.loading-text {
  color: wheat;
  text-align: center;
}

.no-result {
  text-align: center;
  border-radius: 20px;
  opacity: 0.9;
  font-size: 100px;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 500;
  text-transform: uppercase;
  animation: blur 2s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

.left-arrow {
  float: left;
  left: 0;
}

.right-arrow {
  float: right;
  right: 0;
}

.pagination-arrows {
  color: white;
  font-size: 50px;
  margin: auto;
  position: fixed;
  border-radius: 50%;
  font-size: 50px;
  margin: 180px 50px;
  transition: .3s;
}

.pagination-arrows:hover {
  color: #ff8c3b;
  text-shadow: 0 0 10px #ff8c3b,
  0 0 50px #ff8c3b,
  0 0 10px #ff8c3b,
  0 0 10px #ff8c3b,
  0 0 10px #ff8c3b;
}

.behind-up-icon {
  border-radius: 50%;
  float: right;
  opacity: 0.8;
  height: 20px;
  width: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: auto 70px 100px auto;
  animation: blur 2s ease-out infinite;
  box-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
/* 
.behind-up-icon:hover {
  transform: scale(1.1);
}

.up-icon:hover {
  transform: scale(1.1);
} */

.up-icon {
  float: right;
  color: white;
  font-size: 40px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: auto 60px 80px auto;
}

@keyframes blur {
  from {
    box-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      /* 0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff, */
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

@media only screen and (min-width: 1920px) {
  .pagination-arrows {
    margin: 410px 50px;
  }
}

@media only screen and (max-width: 768px) {
  .pagination-arrows {
    margin: 220px 0px;
  }
}
